numpy >= 1.26.4
scipy >= 1.6.0
matplotlib >= 3.8.4
scikit-learn >= 1.4.2
fire >= 0.6.0
pytest >= 8.2.0
coverage >= 7.5.0
pytest-cov >= 5.0.0
pylint >= 3.1.0
wheel >= 0.43.0
pytest-azurepipelines >= 1.0.5
twine >= 5.0.0
pathlib >= 1.0.1
beartype >= 0.18.5
setuptools >= 65.5.1
torch >= 2.2.2
torchinfo >= 1.8.0